@import '../../assets/variables.less';

.project-popup-row {
  #popupImage {
    transition: all .5s linear;
    display: flex;
    gap: 36px;
    .circle {
      min-width: 220px;
      height: 220px;
      border-radius: 50%;
     transition: all .5s linear;
      img {
        max-width: 100%;
      }
    }
  }
}