@import '../../assets/variables.less';


.card--container {
    text-decoration: none ;
    color: @color-black;
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &--header {
    display: flex;
    justify-content: space-between;
  }
  .img-container {
  transition: all 0.19s linear;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  &:hover .btn-more {
    transform: scale(1.1);
    outline: 1px solid @color-green;
    background: @color-white;
    box-shadow: -4px 4px @color-green;
    transform: translate(4px, -4px);
    transition: all .15s linear;
  } 
  &:hover .img-container {
    transform: scale(1.07);
  }
}
}

.btn-more {
  display: inline-block;
  max-height: 48px;
  min-width: 48px;
  border-radius: 50%;
  background: @color-white;
  transition: all 0.19s linear;
  &:hover {
    transform: scale(1.1);
    outline: 1px solid @color-green;
    background: @color-white;
    box-shadow: -4px 4px @color-green;
    transform: translate(4px, -4px);
    transition: all .15s linear;
  } 
  &:active {
    outline: 1px solid @color-green;
    box-shadow: -2px 2px @color-green;
    transform: translate(2px, -2px);
    transition: all .15s linear;
  }
}